#breed-select {
  margin: 20px;
}
#error {
  color: red;
}

#cat-info {
  display: flex;
  margin: 20px;
  gap: 20px;
  max-height: 400px;
}

.display {
  display: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.text-display {
  margin: 0px;
  margin-bottom: 15px;
}
